.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display:  table-row;
  width:auto;
  background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;
  text-align: center;
}

.button {
  margin: 10px;
}
